* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #3c1053;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    padding: 1rem 0 0rem;
    text-align: center;
}

.main {
    background-image: url("787593.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50vh;
}


.label {
    display: block;
    padding: 1rem 0 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}


input {
    display: block;
    margin: auto;
    height: 50px;
    width: 210px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: white;

}

button {

    margin: 2rem auto;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    cursor: pointer;
    color: white;
    text-align: center;
    align-items: center;
    display: block;


    background: linear-gradient(to right, #654ea3, #eaafc8);
    transition: 0.2s;
}

button:hover {

    transform: scale(1.2);
}

#output{
    font-size: 2rem;
    padding: 1rem 0 0rem;
    text-align: center;
}


